In [56]:
import numpy as np
from datetime import datetime
import pandas as pd 
import time
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [57]:
import seaborn as sns
import xgboost as xgb
from sklearn import metrics
from  sklearn.datasets  import  make_hastie_10_2
from xgboost.sklearn import XGBClassifier
from sklearn.metrics import classification_report
from xgboost import plot_importance
from sklearn.model_selection import train_test_split
from sklearn import preprocessing 
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import TimeSeriesSplit  
from sklearn.preprocessing import StandardScaler

### generate x

In [58]:
import pickle
def load_obj(name):
    with open(name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [59]:
# load x data
dict1 = load_obj("data_store/factor_data1_1")
dict2 = load_obj("data_store/factor_data1_2")
dict3 = load_obj("data_store/factor_data1_3")

In [60]:
# get the attr
attr_list = list(dict1.keys())

In [66]:
dict2["AR"]

code,600016.XSHG,600030.XSHG,601633.XSHG,601788.XSHG,600739.XSHG,603288.XSHG,601018.XSHG,600176.XSHG,600309.XSHG,601336.XSHG,...,000002.XSHE,000001.XSHE,000825.XSHE,603806.XSHG,600482.XSHG,600352.XSHG,000063.XSHE,002294.XSHE,601992.XSHG,600547.XSHG
2018-01-18,150.645274,236.185468,100.560897,92.978208,143.802411,106.186317,68.902439,148.120981,NaN,112.590144,...,285.035218,176.289704,127.206771,94.916911,68.550369,174.766758,92.651443,103.358708,105.296610,149.241791
2018-01-19,159.565372,223.225241,108.376068,109.582310,158.752621,108.127686,68.711656,142.202462,NaN,109.481481,...,281.281546,179.530664,127.348395,106.243496,64.365440,167.228719,88.724765,105.846557,115.090090,151.545667
2018-01-22,172.885113,240.696609,117.756184,132.425068,153.752249,114.762083,66.257669,146.716112,NaN,106.615341,...,274.364495,187.294660,137.758831,110.622318,65.621026,182.225064,83.981214,100.608891,108.423326,142.275408
2018-01-23,209.105305,238.468233,127.879342,142.776204,155.882729,122.044687,74.675325,154.020174,NaN,106.128848,...,320.248868,210.949630,140.540541,113.804714,63.904555,160.360586,91.065649,99.255025,109.670330,144.742857
2018-01-24,205.626407,254.699793,124.416517,150.819672,157.740379,114.219319,70.440252,138.574192,NaN,97.120560,...,367.876971,213.367807,129.732869,117.136150,76.574427,170.082495,100.438328,101.037364,117.294900,139.988770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-10,125.020886,143.619437,92.523364,155.118110,123.453370,94.738351,117.647059,128.733344,103.718083,147.597254,...,135.718321,96.640270,121.639344,118.884002,144.399460,109.193631,227.966187,151.826793,142.916667,152.433456
2020-02-11,128.547297,138.924972,94.840929,155.247525,116.753505,100.977032,134.343434,122.462462,108.601886,148.461538,...,137.665751,100.007843,146.065574,120.467033,141.381579,99.193548,223.954242,151.670075,133.891213,151.895011
2020-02-12,119.222904,147.982168,91.511036,157.926829,122.600751,104.637511,128.431373,124.862469,101.577717,137.108793,...,144.422598,91.580019,135.266458,139.348013,138.023560,103.105828,228.966716,132.888739,135.169492,145.245020
2020-02-13,109.476606,115.963719,103.912648,132.093933,117.597370,96.335152,133.000000,136.810110,93.294545,123.122677,...,159.192209,96.159391,123.738872,140.207075,144.399460,101.026374,217.248145,124.702886,131.275720,157.952720
2020-02-14,115.098200,133.016337,104.549591,141.046278,122.766187,96.909446,128.155340,136.618373,90.130526,129.173047,...,155.722715,106.819486,128.679818,118.599340,138.111186,109.044813,203.491737,122.932970,122.916667,157.238980

In [114]:
# merge the dict, actually, 300*1400 = 420,000, but there is null, so smaller
attr_dict = {}
for i in tqdm(attr_list[:]):
    tmp1 = dict1[i].groupby(dict1[i].index).first()
    tmp2 = dict2[i].groupby(dict2[i].index).first()
    tmp3 = dict3[i].groupby(dict3[i].index).first()
    tmp123 = pd.concat([tmp1,tmp2,tmp3])
    tmp123.index = tmp123.index.astype("str")
    tmp123 = tmp123.groupby(tmp123.index).first()
    # use stack func to reshape the df
    tmp = tmp123.stack().reset_index()
    tmp.columns = ["date","code",i]
    # sort by (code,date)
    tmp = tmp.sort_values(by = ["code","date"],ascending = True).reset_index(drop=True)
    attr_dict[i] = tmp

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:21<00:00,  4.61it/s]

In [115]:
# show,300*1400 = 420,000, but there is null, so smaller
attr_dict["AR"]

              date         code          AR
0       2016-01-04  000001.XSHE  110.409767
1       2016-01-05  000001.XSHE  133.235675
2       2016-01-06  000001.XSHE  139.986358
3       2016-01-07  000001.XSHE  124.793163
4       2016-01-08  000001.XSHE   96.158562
...            ...          ...         ...
414219  2021-09-24  603993.XSHG   98.940464
414220  2021-09-27  603993.XSHG   88.762447
414221  2021-09-28  603993.XSHG   93.356470
414222  2021-09-29  603993.XSHG   87.339972
414223  2021-09-30  603993.XSHG   87.173397

[414224 rows x 3 columns]

In [116]:
# transfer dict to a big df
df = attr_dict[attr_list[0]]
for i in tqdm(attr_list[1:]):
    df = pd.merge(df,attr_dict[i],on=["date","code"],how="outer")

100%|██████████████████████████████████████████████████████████████████████████████████| 99/99 [00:35<00:00,  2.80it/s]

In [117]:
# show,300*1400 = 420,000, but there is null, so smaller
df

,date,code,AR,ARBR,ATR14,ATR6,BR,MAWVAD,money_flow_20,PSY,...,EMA5,EMAC10,EMAC20,MAC10,MAC20,MAC5,MAC60,MACDC,MFI14,price_no_fq
0,2016-01-04,000001.XSHE,110.409767,25.644803,30.437857,29.033333,84.764964,-407161.365140,1.488764e+10,58.333333,...,1.046541,1.059017,1.068195,1.074086,1.066999,1.050498,1.053507,-0.013772,57.368374,11.33
1,2016-01-05,000001.XSHE,133.235675,32.318378,31.708571,33.403333,100.917298,-713159.294704,1.515273e+10,58.333333,...,1.026953,1.041909,1.055058,1.057316,1.056656,1.033443,1.046810,-0.017497,55.751228,11.40
2,2016-01-06,000001.XSHE,139.986358,33.275754,31.976429,28.563333,106.710604,-616696.534018,1.514257e+10,58.333333,...,1.010643,1.024741,1.039347,1.037976,1.043308,1.012405,1.035999,-0.017391,60.331501,11.53
3,2016-01-07,000001.XSHE,124.793163,32.442695,34.452143,36.213333,92.350467,-581030.864769,1.482092e+10,50.000000,...,1.043129,1.065157,1.086256,1.079817,1.094725,1.045642,1.091781,-0.024276,56.393160,10.94
4,2016-01-08,000001.XSHE,96.158562,14.735525,33.515714,39.805000,81.423037,-624083.124657,1.514966e+10,58.333333,...,1.017695,1.039558,1.062557,1.051693,1.073646,1.013318,1.074454,-0.024213,54.615205,11.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419986,2017-10-30,601989.XSHG,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,...,0.992277,1.003613,1.039523,0.998546,1.031826,0.987076,1.147711,0.003604,41.556585,6.21
419987,2017-10-31,601989.XSHG,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,...,0.992277,1.003613,1.039523,0.998546,1.031826,0.987076,1.147711,0.003604,41.556585,6.21
419988,2017-11-01,601989.XSHG,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,...,0.992277,1.003613,1.039523,0.998546,1.031826,0.987076,1.147711,0.003604,41.556585,6.21
419989,2017-11-02,601989.XSHG,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,...,0.992277,1.003613,1.039523,0.998546,1.031826,0.987076,1.147711,0.003604,41.556585,6.21
419990,2017-11-03,601989.XSHG,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,...,0.992277,1.003613,1.039523,0.998546,1.031826,0.987076,1.147711,0.003604,41.556585,6.21

In [118]:
# store
df.to_json("data_store/x.json")